body {
	color: #fff;
	font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  }
  .box-set,
  .box {
	border-radius: 6px;
  }
  .box-set {
	background: #eaeaed;
  }
  /* .box {
	position: relative;


	background: #2db34a;
	height: 80px;
	line-height: 80px;
	text-align: center;
	width: 80px;
  }

  .box-1 {
	top: 20px;
  }
  .box-2 {
	left: 80px;
  }
  .box-3 {
	bottom: 15px;
	right: 0px;
  }
  .box-4 {
	bottom: 30px;
	right: -80px;
  } */

  .box-set {
	background: #eaeaed;
	height: 200px;
	position: relative;
  }
  .box {
	background: #2db34a;
	height: 80px;
	position: absolute;
	width: 80px;
  }

  /* .box-1 {
	top: 0%;
	left: 55%;
  }
  .box-2 {
	top: 0%;
	right: 50%;
  }
  .box-3 {
	bottom: 0px;
	right: 50%;
  }
  .box-4 {
	bottom: 0;
	left: 55%;
  } */

  .box-1 {
	top: 0%;
	left: 0%;
  }
  .box-2 {
	top: -7%;
	right: -10%;
  }
  .box-3 {
	bottom: 0px;
	right: 50%;
  }
  .box-4 {
	bottom: 0;
	left: 55%;
  }
